@page "/experiencia"

<div class="w-100">
    <h2 class="mb-5">Experiência</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Analista de Sistemas Júnior</h3>
            <div class="subheading mb-3">Indra Company</div>
            <p>Desenvolvimento de demandas utilizando o framework Scrum na linguagem C#. Atualização de documento técnico. Demandar horas para atividades. Atuação também em ambiente de sustentação, tendo que fazer análise e correções rápidas em ambiente de produção.</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Novembro de 2019 (Atual)</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Desenvolvedor .NET Júnior</h3>
            <div class="subheading mb-3">JJ Consulting</div>
            <p>
                Manutenção e criação de sistemas Windows forms, Web forms, Web MVC utilizando as linguagens C#, JavaScript e SQL, além de HTML, CSS, jQuery e Bootstrap.
                Utilização da framework desenvolvida pela própria empresa, onde o conhecimento em SQL é imprescindível, trabalhando com relatórios, functions, procedures e triggers.
            </p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Abril de 2019 a Outubro de 2019</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Operador de Sistemas</h3>
            <div class="subheading mb-3">CBRE GWS Manutenções</div>
            <p>Monitoramento de Data Center, geradores e ar condicionado de toda empresa. Atendimento ao cliente interno, abertura de ordem de serviço e atendimento e solicitações aos fornecedores.</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Julho de 2017 a Julho de 2018</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
            <h3 class="mb-0">Assistente Técnico</h3>
            <div class="subheading mb-3">Luxkies Assistência Técnica LTDA</div>
            <p>Atuar no conserto de computadores, notebooks e, eventualmente, videogames. E também, atendimento técnico ao cliente no caixa, por telefone e até mesmo em visitas técnicas.</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Outubro de 2015 a Fevereiro de 2017</span>
        </div>
    </div>

</div>
@code {

}
