@page "/"
@page "/index"

<div class="w-100">
    <h2 class="mb-0">
        GABRIEL
        <span class="text-primary">SELES</span>
    </h2>
    <div class="subheading mb-5">
        CARAPICUÍBA · SÃO PAULO · (11) 95879-6443 · <span class="text-primary"><a href="/contato">SELESGABRIEL@GMAIL.COM</a></span>
    </div>
    <p class="lead mb-5">Procuro sempre estar atualizado e bem informado em novas tecnologias, porque além de gostar, é algo que está diretamente relacionado em minha área de estudo. Gosto de desafios, isso me faz aprender ainda mais e faz também com que eu me sinta mais confiante.</p>

</div>
