@page "/skills"

<h3>Skills</h3>

<ul class="list-inline dev-icons">
    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
    <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
    <li class="list-inline-item"><i class="fab fa-docker"></i></li>
    <li class="list-inline-item"><i class="fab fa-github"></i></li>
    <li class="list-inline-item"><i class="fas fa-database"></i></li>
    
   
</ul>



@code {

}
