@inherits LayoutComponentBase

<div class="sidebar" >
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4"></div>

    <div class="content px-4 col-md-12">
        @Body
    </div>
    <div class="blockquote-footer px-4">
        <a href="https://www.facebook.com/SelesGabriel"><span style="font-size:xx-large;" class="fab fa-facebook-square"></span></a>
        <a href="https://www.linkedin.com/in/selesgabriel/"><span style="font-size:xx-large;" class="fab fa-linkedin"></span></a>
        <a href="https://github.com/SelesGabriel"><span style="font-size:xx-large;" class="fab fa-github-square"></span></a>
    </div>
</div>
