@inherits LayoutComponentBase

<div class="sidebar" >
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4"></div>

    <div class="content px-4 col-md-12">
        @Body
    </div>
    <div class="blockquote-footer px-4">
        <a href="https://www.facebook.com/SelesGabriel"><span style="font-size:xx-large;" class="fab fa-facebook-square"></span></a>
        <a href="https://www.linkedin.com/in/selesgabriel/"><span style="font-size:xx-large;" class="fab fa-linkedin"></span></a>
        <a href="https://github.com/SelesGabriel"><span style="font-size:xx-large;" class="fab fa-github-square"></span></a>
    </div>
</div>

<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="http://selesgabriel.herokuapp.com"> Gabriel Seles</a>
    </div>
    <!-- Copyright -->

</footer>